@model VAII.Models.DTO.GamesPlusTagsViewModel
<div class="row gap-3 p-4 partial">
    <div class="col-12">GAMES</div>
    <div class="row d-flex justify-content-around">
        @foreach (var game in Model.Games)
        {
            <div class="col-lg-4 col-12 col-md-6" id="gameItem-@game.GameID">
                <a href="@Url.Action("GameDescription", "Game", new { id = game.GameID })">
                    <img src="@game.ImagePath" class="img-thumbnail ratio" alt="@game.Title">
                </a>
                <div class="d-flex justify-content-between align-items-center m-auto">
                    <a href="@Url.Action("GameDescription", "Game", new { id = game.GameID })" class="text-dark text-decoration-none titleSize">
                        @game.Title
                    </a>
                    <a href="@Url.Action("DownloadGame", "Game", new { id = game.GameID })" class="text-dark text-decoration-none" download>
                        <i class="bi bi-arrow-down-circle-fill titleSize"></i>
                    </a>
                    <button class="deleteGameBtn bi bi-trash btn btn-danger" data-id="@game.GameID">Delete</button>
                </div>
            </div>
        }
    </div>
</div>

