@using VAII.Models.DTO
@using VAII.Models.Entities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Game Description";
}

@model VAII.Models.DTO.GameDescriptionViewModel

@section styles {
    <!-- Additional CSS for this view -->
    <link href="~/css/gameInfoStyle.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-2 d-none d-lg-block secondaryBackground"></div>

    <div class="col-12 col-lg-8 primaryBackground">
        <div class="row p-3 gx-3 gy-3 justify-content-between">

            <div class="col-md-6 col-12">
                <img src="@Model.ExistingImagePath" class="img-thumbnail ratio" alt="@Model.Title">
            </div>
            <div class="col-md-6 col-12 d-flex flex-column justify-content-around">
                <div>
                    <div class="col-12 mb-3 d-flex justify-content-center text-light gameName">
                        @Model.Title
                    </div>
                </div>
                <div class="col-12 align-self-end">
                    <a href="@Url.Action("DownloadGame", "Game", new { id = Model.Id })" class="text-dark text-decoration-none d-flex justify-content-center gameInfo w-100" download>
                        Download
                        <i class="bi bi-arrow-down-circle-fill titleSize ms-3"></i>
                    </a>
                </div>
            </div>

            <div class="col-12 text-dark gameInfo">
                <p>Description:</p>
                <p>
                    @Model.Description
                </p>

            </div>

            <div class="col-12 text-dark">
                <p>TAGS:</p>
                <div class="row d-flex gap-2">
                    @foreach (var tag in Model.SelectedTags)
                    {
                        <div class="col-auto">
                            <a href="@Url.Action("IndexTag", "Home", new {tag = tag})" class="tag text-decoration-none">
                                @tag
                            </a>
                        </div>
                    }
                </div>
            </div>

            <div class="col-12 text-dark">
                <a href="#" class="text-dark text-decoration-none">
                    <p>Reviews:</p>
                </a>
                <div class="row gy-3">
                    
                    @foreach (Review review in Model.Reviews)
                    {
                        <div class="col-12 text-dark gameInfo gap-3" id="reviewItem-@review.Id">
                            <div class="col-12 border border-3 border-black rounded-3 shadow p-2">                                
                                <div class="col-12 d-flex justify-content-between">
                                    <span>
                                        <img src="@review.User.ImagePath" alt="" class="userImage">
                                        @review.User.UserName
                                    </span>
                                    <span>@review.Value/5</span>
                                </div>
                                
                            </div>
                            <div class="col-auto">
                                @review.Content
                                @if (review.UserID == Model.CurrentUser)
                                {
                                    <div class="justify-content-end d-flex">
                                        <span class="px-3">
                                            <a href="@Url.Action("Reviews", "Review", new { gameID = Model.Id, reviewID = review.Id })" class="invisibleButton titleSize text-dark text-decoration-none bi bi-pencil-square"></a>
                                        </span>
                                        <span>
                                            <button class="bi bi-trash invisibleButton titleSize deleteReviewBtn" data-id="@review.Id"></button>
                                        </span>
                                    </div>                                    
                                }
                            </div>
                        </div>
                    }
                    <a class="titleSize col-12 gap-3 text-dark gameInfo text-decoration-none" href="@Url.Action("Reviews", "Review", new { gameID = Model.Id })">
                        ADD REVIEW
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-2 d-none d-lg-block secondaryBackground"></div>
</div>

@section Scripts {
    <script src="~/js/deleteReview.js"></script>
}